body {
  background: #1a1b18;
  color: #9e8d6d;
  font-family: verdana, sans-serif; }

a, a:link, a:visited {
  color: #F0BF3A;
  text-decoration: none; }

a:hover, a:active {
  color: #fff; }

header {
  text-align: center; }

.intro {
  background-color: #20211E;
  padding: 10px;
  line-height: 1.5em;
  margin-bottom: 20px; }
  .intro span {
    display: block; }

.menu ul {
  background-color: #20211E;
  border: solid 1px #20211E; }

.menu a {
  display: block;
  padding: 15px; }
  .menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
    text-decoration: none; }
  .menu a:hover {
    background-color: #1a1b18; }

main section {
  display: none; }
